body {
    padding: 100px 10% 10% 10%;
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/stock-photo-blank-paper-texture.png);
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    font-family: Lobster;
    font-size: 30px;
    margin-right: 20px;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.params {
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.radio {
    margin-bottom: 50px;
}